<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.resume.mapper.SysUserMapper">
    <sql id="result_data">
        id id,
        user_name userName,
        pass_word passWord,
        real_name realName,
        address address,
        phone phone,
        email email,
        last_login_time lastLoginTime,
        created_at createdAt,
        updated_at updatedAt
    </sql>

    <sql id="insert_data">
        user_name,
        pass_word,
        real_name,
        address,
        phone,
        email,
        created_at
    </sql>
    <select id="findAll" resultType="com.resume.entity.SysUserEntity">
        select <include refid="result_data"></include> from sys_user;
    </select>

    <select id="findUserByName" resultType="com.resume.entity.SysUserEntity">
        select <include refid="result_data"></include> from sys_user where user_name like #{userName};
    </select>

    <select id="findUser" resultType="com.resume.entity.SysUserEntity">
        select <include refid="result_data"></include> from sys_user where user_name = #{userName} and pass_word= #{passWord};
    </select>

    <select id="findUserById" resultType="java.lang.String">
        select <include refid="result_data"></include> from sys_user where id =#{id};
    </select>

    <insert id="saveUser" parameterType="com.resume.entity.SysUserEntity">
        insert into sys_user (<include refid="insert_data"></include>) value(#{userName},#{passWord},#{realName},#{address},#{phone},#{email},#{createdAt})
    </insert>

    <update id="updateUser" parameterType="com.resume.entity.SysUserEntity">
        update sys_user set user_name=#{userName},pass_word=#{passWord},real_name=#{realName},address=#{address}，phone=#{phone}，email=#{email}，updated_at=#{updatedAt}
        where id=#{id}
    </update>

    <update id="updatePassWord">
        update sys_user set pass_word=#{passWord} where id=#{id}
    </update>

    <update id="updateLastLoginTime">
        update sys_user set last_login_time=#{lastLoginTime} where id=#{id}
    </update>

    <delete id="deleteUserById">
        delete from sys_user where id=#{id}
    </delete>

</mapper>